<div class="container">
    <div class="mt-5 mb-3 display-4 text-center" style="background-color: antiquewhite;">
        Modification d'un employé
    </div>
  <div>
    <form>
        <div class="form-group">
            <label for="id">Id</label>
            <input
              name="id"
              type="number"
              class="form-control"
              id="id"
              readonly
              [(ngModel)]="employe.id"
            />
          </div>
      <div class="form-group">
        <label for="nom">Nom</label>
        <input
          name="nom"
          type="text"
          class="form-control"
          id="nom"
          placeholder="Votre nom ici"
          [(ngModel)]="employe.nom"
        />
      </div>
      <div class="form-group">
        <label for="prenom">Prénom</label>
        <input
          name="prenom"
          type="text"
          class="form-control"
          id="prenom"
          placeholder="Votre prénom ici"
          [(ngModel)]="employe.prenom"
        />
      </div>
      <div class="form-group">
        <label for="salaire">Salaire</label>
        <input 
            name="salaire"
            type="number" 
            class="form-control" 
            id="salaire" 
            placeholder="Votre salaire ici" 
            [(ngModel)]="employe.salaire"
        />
      </div>
      <div>
        <button (click)="update()" type="submit" class="btn btn-primary">Modifier</button>
      </div>
    </form>
  </div>
</div>
