<div class="container text-center">
    <div class="mt-5 mb-3 display-4" style="background-color: antiquewhite;">
        Liste des employés
    </div>
    <div>
        <table class="table table-striped table-dark">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Salaire</th>
                <th scope="col" colspan="2">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let e of employes">
                <th scope="row">{{ e.id }}</th>
                <td>{{ e.nom | uppercase }}</td>
                <td>{{ e.prenom | titlecase }}</td>
                <td>{{ e.salaire }}</td>
                <td>
                    <a [routerLink]="['/employe/edit', e.id]" class="btn btn-outline-warning mr-3">Modifier</a>
                    <a (click)="delete(e.id)" class="btn btn-outline-danger">Supprimer</a>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
